---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Banner from "../components/Banner.astro";
import Content from "../components/Content.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <Header />
    <Banner />
    <Content>
        <article>
            <h2>I'm a title</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni
                tenetur assumenda omnis? Dolore cumque qui veniam commodi,
                repellendus, corrupti illum suscipit aliquam autem tempore est
                iusto? Totam nostrum voluptate quia!
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta
                iure praesentium nulla tenetur rem esse itaque nihil nemo
                laborum? Ducimus, amet? Asperiores ad soluta, eum labore
                consequuntur repellendus voluptas? Consectetur?
            </p>
        </article>
    </Content>
    <Footer />
</Layout>
