---

---

<div class="content">
    <slot />
</div>
<!-- styling -->
<style>
    .content {
        border-top: 2px solid var(--text);
        height: 100%;
        display: flex;
        flex-direction: column;
    }
</style>
